<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Me.</h2>
            <hr class="intro-divider">
            <br/>
            <font size="4px">
                <p><font size="5px">Hello.</font></p>
                <p>My name is Charlotte.</p>
                <p>I study <font color="Plum">mathematics at Georgetown.</font></p>

                <p><br></p>
                <p><i class="fa fa-home"></i></p>
                <br/>
            </font>
        </div>
        <!--<div class="col-md-3 col-md-push-9" align="center">-->
        <!--<font size="2px">-->
        <!--<p><a id="change_to_star_war" href="#" onClick="return false;">Star Wars Edition <i class="fa fa-space-shuttle"></i></a></p>-->
        <!--</font>-->
        <!--</div>-->
    </div>
</section>
